doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Uptask | #{nombrePagina.toUpperCase()}

        link(href="/css/normalize.css" rel="stylesheet")
        link(href="/css/bootswatch-lux.css" rel="stylesheet")
        link(rel="stylesheet", href="/css/icofont.css")
        link(rel="stylesheet", href="/css/app.css")
    body

        .navbar.navbar-dark.bg-primary
            .container.d-flex.justify-content-between
                a.navbar-brand(href="/") Uptask Administrador de proyectos
                ul.navbar-nav 
                    li.nav-item
                        a.nav-link(href="#") Cerrar sesión 
        
        main.container 
            aside.contenedor__proyectos
                .row.mt-5 
                    .col-4 
                        .panel.panel--crear-proyecto 
                            a.btn.btn-primary.btn-block.btn-lg(href="/nuevo-proyecto") 
                                i.icofont.icofont-plus.icofont-2x 
                                |   Nuevo Proyecto
                        .panel.panel--lista-proyectos.mt-5
                            h3 Proyectos
                            .list-group
                                if proyectos.length > 0
                                    each proyecto in proyectos
                                        li.list-group-item
                                          a.d-flex.justify-content-between.align-items-center(href=`/proyectos/${proyecto.url}`)
                                            | #{proyecto.nombre}
                                            span.badge.badge-primary.badge-pill 0
                                        //- a.list-group-item.list-group-item-action(href=`/proyectos/${proyecto.url}`)
                                        //-     span
                                        //-       i.icofont.icofont-folder.icofont-2x  
                                        //-       |   #{proyecto.nombre}
                                        //-     span.badge.badge-primary.badge-pill 19
                                else 
                                    .no-proyectos.d-flex.flex-column.mt-3 
                                        i.icofont.icofont-bullseye.icofont-2x 
                                        p.mb-0 No hay proyectos
                                        span Click en 
                                            a(href="/nuevo-proyecto") nuevo proyecto  
                                            |   para ampezar.
                    .col-8
                        block contenido
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")  
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        script(src="/dist/bundle.js")
                           
