extends layout

block contenido 
    h1 #{proyecto.nombre}


    // REVIEW: Formulario Tarea 
    .jumbotron 
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .form-group 
                label(for="tarea")
                    strong Agregar una nueva Tarea 
                input.form-control(
                    type="text" 
                    name="tarea"
                    placeholder="Nombre de la tarea") 
            .form-group 
                button.btn.btn-primary.btn-round(type="submit") 
                    |   Crear tarea
        

                    
    // REVIEW: Listado de tareas pendientes
    //- pre= vardump(tareas)
    #listado-pendientes.mb-4
      ul.list-group
        if tareas.length > 0
          each tarea in tareas
            li.list-group-item.d-flex.justify-content-between.align-items-center.mb-2(data-tarea= tarea.id) 
              | #{tarea.tarea}
              .icons
                i.icofont.icofont-check-circled.icofont-2x( class=`${  tarea.estado > 0 ? 'completo' : '' }` )
                i.icofont.icofont-ui-delete.icofont-2x.ml-2
        else
          li.list-group-item.d-flex.justify-content-between.align-items-center.mb-2 
            | No hay tareas en este proyecto
            i.icofont.icofont-expressionless.icofont-2x



    // REVIEW: BTN Acciones para editar o eliminar proyecto
    .btn-group(role='group' aria-label='Button group with nested dropdown')
        button.btn.btn-primary(type='button') Acciones
        .btn-group.show(role='group')
            button#btnGroupDrop1.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
            .dropdown-menu(aria-labelledby='btnGroupDrop1' x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);')
                a.dropdown-item(href=`/proyecto/editar/${proyecto.id}`) Editar proyecto
                a.dropdown-item(href='#' id="eliminar-proyecto" data-proyecto-url=proyecto.url) Eliminar proyecto
